### HELLO

#Helllo

- A
- B

In [ ]:
# esc + DD  delete cell

In [ ]:
#esc + A  above cell addition

In [ ]:
#esc + B below add cell

In [ ]:
#esc + m markdown

In [ ]:
#esc + y convert markdown cell to code cell

In [4]:
2**3

8

In [5]:
10/3

3.3333333333333335

In [6]:
10//3

3

Ascii Value

In [8]:
ord("A")

65

In [9]:
a = True

In [10]:
a

True

In [11]:
 5 + True

6

In [12]:
isinstance(True,int)

True

In [13]:
5 + False

5

In [14]:
type(True)

bool

In [15]:
name = "Ganesh"

In [17]:
print("Call {}".format(name))

Call Ganesh

In [18]:
a=5
b=5

Lamda Functions

In [19]:
add = lambda a,b: a+b  # lambda can have parameters

In [20]:
add

In [22]:
add(4,6)

10

In [23]:
a = [5,6,4,2,4,6,7]

In [24]:
sorted(a)

[2, 4, 4, 5, 6, 6, 7]

In [25]:
a.sort()

In [26]:
a

[2, 4, 4, 5, 6, 6, 7]

In [27]:
a = [("ganesh",5),("saca",6),("raaam",10)]

In [28]:
sorted(a)

[('ganesh', 5), ('raaam', 10), ('saca', 6)]

In [29]:
sorted(a,key = lambda x : x[1])

[('ganesh', 5), ('saca', 6), ('raaam', 10)]

In [30]:
users = {
    "ganesh" : "pass",
    "raam" : "moti"
}

In [35]:
def show(name,passs) :
    if name in users and users[name] == passs : 
        print("Hello")
    else : 
        print("NOt found")

In [36]:
show("ganesh","pass")

Hello

In [37]:
show("raj","ca")

NOt found

Args and Kwargs

In [39]:
def fun(*args, **kwargs):
    print(*args)
    
fun(1,2,3,4)

1 2 3 4

In [46]:
def fun(a,b,*args, **kwargs):
    print(args)
    print(kwargs)
    
fun(1,2,3,4,shake = "oreo",name = "ganesh")

# remaining goes to args can have any names
# args -> tuple 
# kwargs -> dic

(3, 4)
{'shake': 'oreo', 'name': 'ganesh'}

DataStructres And the common methods to deal with them

## Split , Strip , format

Strip

In [50]:
a = "      ganesh      "
print(len(a))

18

In [48]:
a.strip() == "ganesh"

True

In [52]:
len(a.strip())

6

Split

In [53]:
a = input()

1 2 3 4 5 6 7

In [54]:
a

'1 2 3 4 5 6 7'

In [56]:
a.split(' ')

['1', '2', '3', '4', '5', '6', '7']

Format

In [57]:
print(f"Jello")

Jello

In [61]:
lastname = "ganesh"
firstname = "raam"
a = 1
b = 2
c = 3

In [63]:
print(f"{lastname}-{firstname}")  # method 1
print("{lastname}-{firstname}".format(lastname = "gaes",firstname = "moti"))  # method 2
print("%d-%d-%d" % (a,b,c)) # method 3

ganesh-raam
gaes-moti
1-2-3

Python has Immutable that is object cant be assigned with anything

In [64]:
a = "ganesh"

In [65]:
a.replace('a','g')

'ggnesh'

In [66]:
a = "aaabbbccccd"

In [67]:
a.count('c')

4

Comprehension

In [86]:
a = [i**2 for i in range(1,10) ]

In [87]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
type(a)

list

In [93]:
some_string = "abacdaegakialaop"

print(some_string.split('a',2))

['', 'b', 'cdaegakialaop']

In [94]:
s = "This is introduction to python for web development"

In [95]:
a = list(s.split(' '))
a

['This', 'is', 'introduction', 'to', 'python', 'for', 'web', 'development']

# OOPs

In [1]:
# Python treats everything as Objects

class Person(): # keyword identifiers
    pass
p = Person()
print(p)

<__main__.Person object at 0x000001A82DE39278>

In [6]:
class Person:
    name = "ganesh"
    def say(self):
        print("my name is {}".format(self.name))
        
p = Person()
p.say()

my name is ganesh

In [3]:
Person.say(p)  #an object is passed as a self argument everytime we init

my name is ganesh

# Special Methods

In [4]:
# Also knows as dunders or magic functions
# as soon as the object is created it will execute
def __init__(self):
    pass   # not a constructer

In [7]:
__init__(self)
__add__(self)
__eq__(self)
__repr__(self)
__str__(self)
__del__(self)

NameError: name 'self' is not defined

In [9]:
Person.__mro__ # order of inheritance in python

(__main__.Person, object)

# Modules

In [ ]:
import x as

In [ ]:
from x import {
    
}

# File Handling

In [ ]:
with open(x,"r") as file:
    print(file.read())
    file.seek(3)
    print(file.read())

# Json Javascrpit Object Notation

In [10]:
import json

In [12]:
with open("data.json", "r") as file:
    print(file.read())

{
  "name" : "ganesh",
  "college" : "Kiit"
}

In [15]:
with open("data.json", "r") as file:
    js = json.loads(file.read())
    print(js)
    print(js["name"])

{'name': 'ganesh', 'college': 'Kiit'}
ganesh

In [14]:
type(js)

dict

In [16]:
with open("data.json", "r") as file:
    js = json.loads(file.read())
    print(js)
    print(js["name"])

{'name': 'ganesh', 'college': 'Kiit'}
ganesh

In [17]:
d = {'name': 'ganesh', 'college': 'Kiit'}

In [18]:
d["name"]

'ganesh'

In [19]:
string = json.dumps(d)

In [20]:
string

'{"name": "ganesh", "college": "Kiit"}'

In [21]:
with open("data.json", "w") as file:
    json.dump(d,file)

# Generators

In [23]:
def fibo():
    prev,curr = 0,1
    while True:
        yield curr
        prev, curr = curr, prev + curr
gen = fibo()

1

In [28]:
next(gen)

8

In [29]:
# generator Expression

gen = (x**2 for x in range(1,11))

In [31]:
type(gen)

generator

In [36]:
next(gen)

25

# Asynchronous Programming

In [ ]:
# Multi Processes
# Multi Threads
# Coroutines
# AsyncIO